@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

.link-unstyled,
.link-unstyled:hover {
  color: unset;
  text-decoration: unset;
}

.bg-green {
  background-color: #9dc26e;
}

.bg-bright-green {
  background-color: #00D816!important;
}

.text-green {
  color: #9dc26e;
}

.text-rancho{
   font-family: 'Rancho', cursive;
}

.cat-background{
    position: absolute;
    top: 0;
    right: 0;
    
}